<h1 class="text-center">Please input your cellphone number</h1>
@model Phone


<form asp-action="checkcellphone" asp-controller='Register' method="POST">
    <div class="form-group">

    <label asp-for="Number">Your Phone number : </label>
    <span asp-validation-for="Number"></span>
    <input asp-for="Number" class="form-control" />
  <button class="btn btn-outline-success">Verify</button>
     </div>

</form>
