@{
    ViewData["Title"] = "Home Page";
}


<div style="display: flex;justify-content:space-between;"> 
 
<div>
<h1>Welcome !!!</h1>
</div>
    
<div>
    <h1> <a asp-action="Regis" asp-controller="Register">Register</a>
        <a asp-action="_login" asp-controller="Home">Login</a></h1>
       
</div>
</div>


<div class="container">
    


</div>